 *{
    margin: 0px;
    padding: 0px;
 }
 .child-pass{
    background-color: rgba(0, 255, 13, 0.219);
    border: 1px solid;
    width: 300px;
    height: 350px;
    box-shadow: 0px 0px 20px black inset;
     
 }
 .parent-pass{
    display: flex;
    justify-content: center;
     height: 100vh;
     align-items: center;
     background-image: url(../assets/pexel.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     
     
 }
 .mun{
    text-align: center;
    padding: 10px;
    margin: 10px;

 }
 .box{
    text-align: center;
    margin-bottom: 10px;

 }
 .num{
    padding: 20px;
    margin: 10px;
 }
 .bu{
    padding: 5px;
    margin: 10px;
    width: 80px;
    background-color: rgba(240, 255, 255, 0.686);
    color: black;
    
 }
 .lop{
    color: rgba(240, 248, 255, 0.736);
 }
 .pu{
    color: rgba(240, 248, 255, 0.677);
    
 }
 .mi{
    height: 20px;
 }